@charset "gb2312";
/* CSS Document */
p { display: block; }
ul { list-style: none; }
a { color: #a6a6a6; text-decoration: none; transition: All 1s ease; -webkit-transition: All 1s ease; -moz-transition: All 1s ease; -ms-transition: All 1s ease;-o-transition: All 1s ease; }
a:hover { color: #000; }

/* mainContent2 */
.mainContent2 { background: #C0E3CF; width: 1000px; margin: 20px auto; overflow: hidden;}

aside { width: 270px; float: left; }
.avatar { margin: 20px auto; width: 160px; height: 160px; border-radius: 160px; -moz-border-radius: 160px; -webkit-border-radius: 160px; overflow: hidden; }
.avatar a { display: block; padding-top: 97px; width: 160px; height: 63px; background: url(../images/s8.png) no-repeat; background-size: 160px 160px }
.avatar a span { display: block; margin-top: 63px; padding-top: 8px; width: 160px; height: 55px; text-align: center; font-size: 16px; line-height: 20px; color: #fff; background: rgba(0, 0, 0, .5); -webkit-transition: margin-top .2s ease-in-out; -moz-transition: margin-top .2s ease-in-out; -o-transition: margin-top .2s ease-in-out; transition: margin-top .2s ease-in-out; }
.avatar a:hover span { display: block; margin-top: 0; }
.topspaceinfo { background: #299982; padding: 40px 20px; color: #fff }
.topspaceinfo h1 { font-size: 16px; line-height: 40px }
.userinfo { padding: 20px 30px 30px; font-size: 14px; line-height: 28px; color: #666; }
.userinfo a { color: #666 }
.userinfo a:hover { color:#000;  }
.q-fans, .btns a { padding: 0 10px }
.q-fans a { font-weight: bold; }
.btns a { border-right: #dad9d5 1px solid; }

aside section { display: block; overflow: hidden }
aside section h2 { background: #299982; color: #FFF; padding-left: 30px; height: 30px; line-height: 30px; font-size: 14px; }

.taglist ul { padding: 20px 30px; overflow: hidden }
.taglist ul li a { padding: 2px 5px; display: inline-block; float: left; margin-right: 5px; color: #454545; }
.taglist ul li a:hover { background: #299982; color: #fff; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px }

/* nav */
header { width: 100%; background: rgba(255,255,255,1); height: 43px; border-bottom: #33A89F 1px solid; }
header nav { margin: 0 auto; width: 1000px; text-align: center; }
header nav ul li { line-height: 43px; display: block }
header nav ul li a { color: #484848; float: left; padding: 0 20px; margin-right: 2px;}
header nav ul li a:hover, #nav_current { color: #fff; background: #299982; transform:skewX(10deg);-webkit-transform:skewX(10deg);-o-transform:skewX(10deg);-ms-transform:skewX(10deg);-moz-transform:skewX(10deg) }


body { font: 12px "ו", "Arial Narrow", HELVETICA; color: #3F3E3C; line-height: 1.5; background: url(../images/bg-01.jpg) no-repeat top center #96CEB4; background-size: 100% 100%}

.mainContent2 { background: #C0E3CF; width: 1000px; margin: 20px auto; overflow: hidden;}
.blogitem { width: 730px; background: rgba(255,255,255,0.7); float: right }
.blogitem article { border-bottom: #C0E3CF 40px solid; }
.title a { color: #454545; }
.title a:hover { padding: 20px }
.text { font-size: 14px; padding: 20px 40px; }
.text p { line-height: 24px; margin-bottom: 10px }
.textfoot { padding: 20px 60px; border-top: 1px solid #dddcdb; text-align: right; box-shadow: #999 2px 2px 3px }
.textfoot a { margin-left: 10px; }
.pages { padding: 0 60px 25px; background: #C0E3CF; text-align: right }
.pages span { background: #299982; color: #fff; }
.pages a { background: #fff; color: #454545; padding: 5px 8px; border: none; margin: 0 0 0 5px; }
.pages span { padding: 5px 8px; border: none; margin: 0 0 0 5px; }
.pages a:hover { background: #CCC; }

.pagination { padding: 0 60px 25px; background: #C0E3CF; text-align: center }
.pagination a { background: #299982; color: #454545; padding: 5px 8px; border: none; margin: 0 0 0 5px; }
.pagination a:hover { background: #CCC; }